{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <h2 class="text-center my-3">DETAIL</h2>
  <hr>
  <h4 class="my-3">제목: {{ review.title }}</h4>
  <p>영화 제목: {{ review.movie_title }}</p>
  <p>내용: {{ review.content }}</p>
  <p>평점: {{ review.rank }}</p>
  <p>작성 시각: {{ review.created_at }}</p>
  <p>수정 시각: {{ review.updated_at }}</p>
  <hr>
  <h4>댓글 목록</h4>
  {% if comments|length %}
  <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in comments %}
  <div>
    {{ comment.user }} - {{ comment.content }}
  </div>
  {% empty %}
  <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
  <form action="{% url 'community:create_comment' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit" value="작성" class="btn btn-primary py-1 px-3">
  </form>
  {% else %}
  <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}" class="btn btn-secondary my-3">Back</a>
  {% endblock  %}
